# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypotheses

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# App data
data/
*.sqlite3
*.db

# IDEs
.vscode/
.idea/

# Mac
.DS_Store
DEPLOYMENT_guide.md
